/* 
------------ ATTENTION !!!
------------ SEMUA STYLE DI FILE INI BERPENGARUH TERHADAP TAMPILAN WEBSITE. JIKA ADA PERUBAHAN DI WEBSITE, CUKUP UBAH DI STYLE YANG SUDAH TERSEDIA DI FILE INI YANG DIBERI COMMENT :: "izy css" ::

PERINGATAN:
FILE CSS SELAIN external.css dan nav.css INI TIDAK BOLEH DIGANGGU GUGAT. KARENA DAPAT MENGGANGGU STABILITAS TAMPILAN WEBSITE.
 */


/*
-----------------------------------------------
Navigation
----------------------------------------------- */
#topnav {
background:url(../images/bgtopnav.png) repeat-x;
}

.bgtopnav {
padding:0 0px;
display:inline-table;
}

ul.nav,
ul.nav * { margin:0;padding:0;}
ul.nav {
display:inline-table;
  position:relative;
  height:1em; /* izy css - tinggi background topnav */
  }

ul.main li ul {
	top:4.2em; /* izy css - jarak subnav dari topnav */
}

/* navigation (horizontal subnavigation)
----------------------------------------------- */
ul.nav li:hover ul {left:0;z-index:10}

/* navigation (vertical subnavigation)
----------------------------------------------- */
ul.main li {
	float:left;
	text-align:center;
	list-style-type:none;
	font-weight:normal;
}

ul.main li:first-child {
background:none;
}

ul.main li ul 
{
	width:120px;
	cursor:default;
	position:absolute;
	height:auto;
	/* top:4.2em; izy css - jarak subnav dari topnav */
	background-position:0 0 !important;
	left:-9000px;
	border-top:0;
}
ul.main li ul li {
	padding:0;
	border:none;
	width:auto;
	max-width:none;
  float:left;
}
ul.main li a { /* izy css - link topnav keadaan normal */
	font-family:Arial Narrow;
	font-weight:bold;
	text-decoration:none;
	display:block;
	float:left;
	height:40px;
	font-size:14px;
	line-height:40px;
	border:0;
	color:#FFC900;
	padding:0 2.3em;
	margin:0 0 0 0px;
	text-shadow:1px 0px 2px #000;
	background:url(../images/batasnav.png) no-repeat left;
}

ul.main li:first-child a {
margin-left:0;
}

ul.main li ul li a {
	position:relative !important; /* ie Mac */
	cursor:pointer !important;
	white-space:nowrap;
	width:120px; /* izy css - lebar subnav */
	line-height:2em; /* izy css - tinggi subnav */
	height:2em;
	text-align:center;
	border-top:1px solid #444;
	font-weight:bold;
}

ul.main li:first-child a {
background:none;
}

ul.main li:hover a { /* izy css - keadaan topnav hover */
background:url("../images/bgtopnavhover.png") repeat-x;
color:#fff;
text-shadow:2px 2px 5px #fff;
-webkit-transition:background 0,5s ease;
-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
-o-transition:all 0.5s ease;
transition:all 0.5s ease;color:#FFF;
}
ul.main li:hover ul li a {color:#222; background:url(../images/bgtopnav.png) repeat-x;} /* izy css - style keadaan subnav normal */
ul.main li:hover ul li a:hover {color:#fff; background:url("../images/bgtopnavhover.png") repeat-x;} /* izy css - style keadaan subnav hover */
ul.main li:hover a:active {color:#222; background:url(../images/bgtopnav.png) repeat-x;} /* izy css - keaadan topnav saat di klik */
ul.main li:hover ul li a:active {color:#fff; background:url("../images/bgtopnavhover.png") repeat-x;} /* izy css - keaadan subnav saat di klik */